<div class="row">
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-danger">
        <div class="card-body  p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="las la-dragon"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-14">Appointment</p>
                    <h4 class="text-white">76</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-success">
        <div class="card-body p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="las la-frog"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-14">Earning</p>
                    <h4 class="text-white">$56K</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-info">
        <div class="card-body p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="las la-horse-head"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-12">Total Patient</p>
                    <h4 class="text-white">783K</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-primary">
        <div class="card-body p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="flaticon-381-user-7"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-14">Chef</p>
                    <h4 class="text-white">$76</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-warning">
        <div class="card-body p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="flaticon-381-user-7"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-14">Chef</p>
                    <h4 class="text-white">$76</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-3">
    <div class="widget-stat card bg-success">
        <div class="card-body p-4">
            <div class="media">
                <span class="mr-3">
                    <i class="las la-frog"></i>
                </span>
                <div class="media-body text-white text-right">
                    <p class="mb-1 text-white fs-14">Earning</p>
                    <h4 class="text-white">$56K</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
