<table class="table items-table">
    <tbody><tr>
        <th class="my-0 text-black font-w500 fs-20">Items</th>
        <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Qty</th>
        <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Price</th>
        <th class="my-0 text-black font-w500 fs-20">Total Price</th>
        <th></th>
    </tr>
    <tr class="a" hover-class="row-payment">
        <td>
            <div class="media">
                <a href="ecom-product-detail.html"><img class="mr-3 img-fluid rounded" width="85" src="https://davur.dexignzone.com/xhtml/images/dish/pic1.jpg" alt="DexignZone"></a>
                <div class="media-body">
                    <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">BURGER</a></small>
                </div>
            </div>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">3x</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$14.99</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$44.97</h4>
        </td>
        <td>
            <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
        </td>
    </tr>
    <tr hover-class="row-payment">
        <td>
            <div class="media">
                <a href="ecom-product-detail.html"><img class="mr-3 img-fluid rounded" width="85" src="https://davur.dexignzone.com/xhtml/images/dish/pic2.jpg" alt="DexignZone"></a>
                <div class="media-body">
                    <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">PIZZA</a></small>               
                </div>
            </div>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">1x</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$4.12</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$4.12</h4>
        </td>
        <td>
            <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
        </td>
    </tr>
    <tr hover-class="row-payment">
        <td>
            <div class="media">
                <a href="ecom-product-detail.html"><img class="mr-3 img-fluid rounded" width="85" src="https://davur.dexignzone.com/xhtml/images/dish/pic3.jpg" alt="DexignZone"></a>
                <div class="media-body">
                    <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">JUICE</a></small>
                </div>
            </div>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">2x</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$15.44</h4>
        </td>
        <td>
            <h4 class="my-0 text-secondary font-w600">$15.44</h4>
        </td>
        <td>
            <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
        </td>
    </tr>
</tbody>
</table>
