.row-payment-panel {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

@media (min-width: 576px){
    .sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    }

@media (min-width: 768px){
.md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
}

@media (min-width: 992px){
    .lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    }

    .row-payment:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
