.row-payment-panel {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 576px){
    .sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (min-width: 768px){
    .md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (min-width: 992px){
    .lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
